<!DOCTYPE html>
<html>
<head>
  <title>AutomationMonitor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer class="footer">
  <div class="container">
    <p class="text-muted"><b>Current Time: </b><%=Time.now.in_time_zone("Beijing").strftime("%Y %m %d %H:%M:%S %z") %></p>
  </div>
</footer>
</body>
</html>